<div class="card mb-6">
  <header class="card-header card-header-title">
    
        <div class="column">
      <a href="/post/{{id}}">{{title}} </a></p>
      </div>   
  </header>

  <div class="card-content">
      <div class="content">
          {{post_content}}
      </div>
        
    </div>